/*     ----- RESET -----      */

* {box-sizing: border-box; margin: 0; padding: 0;}
img {max-width: 100%;height: auto;}
body {background-color: #f1f1f1; font-family: "Montserrat", sans-serif;}
.container {width: 1160px; margin: 0 auto;}
.divider {padding: 25px 0;}
.spacer {padding: 75px 0;}

/* -------------------------
            header
-------------------------- */