/*     ----- RESET -----      */

* {box-sizing: border-box; margin: 0; padding: 0;}

body {background-color: #f1f1f1; font-family: "Montserrat", sans-serif; font-size: 15px;}

.container {width: 1000px; margin: 0 auto;}


/* -------------------------
         Menù + Logo
-------------------------- */
menu {
    background-color: rgb(43, 146, 181);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: contain;
}

.logo {
    height: 100%;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: 44px;
    background-size: 25%;
}

/* -------------------------
          HEADER
-------------------------- */

h1{
    font-size: 28px;
    padding: 15px 0;
}

.data {font-size: 13px;}

.autore strong {color: rgb(43, 146, 181)}

img {
    width: 49.5%;
    height: 300px;
    margin-top: 25px;   
}

.photo-description {
    font-size: 8px;
    font-style: italic;
}

 /* -----------------------------------
     PARAGRAFO + ELENCO NON ORDINATO  
  ----------------------------------- */
  p {margin: 25px 0;}
  
  p span {background-color: rgb(229, 229, 91);}
  
  li {margin: 0 10px;}

  /* -----------------------------------
                TABELLA  
   ----------------------------------- */
table {margin: 40px 0; border-collapse: collapse;}

.col1, .col2 {width: 20%;}

.col3 {width: 60%;}

th {
    text-align: left;
    padding: 10px;
    background-color: rgb(43, 146, 181);
    color: white;
    height: 25px;
    font-size: 12px;
}
td {padding: 10px;}
.row1, .row3 {background-color: lightblue;}

/* -----------------------------------
        FOTO • POTREBBE INTERESSARTI  
   ----------------------------------- */
.photo1 {
    width: 400px;
    height: 250px;
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    color: white;
    padding: 25px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

.photo2 {
    margin-top: 20px;
    width: 400px;
    height: 250px;
    background-image: url('../img/graph.jpg');
    background-size: cover;
    color: white;
    padding: 25px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.photo1 span, .photo2 span {
    background: rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    padding: 10px;
}
